<div class="overlay"></div>

{{> header}}

{{> menu}}

<main>
	<div class="scrollBox">
	<h3 class="profileMenuOptions">Profile Settings</h3>		
			<ul class="profileSetting">
				<li class="profileSettingOption">First name: {{userData.firstName}}</li>
				<li class="profileSettingOption">Last name: {{userData.lastName}}</li>
				<li class="profileSettingOption">Birthday: {{userData.birthday}}</li>
				<li class="profileSettingOption">Phone number: {{userData.phone}}</li>
			</ul>				
		       
	<h3 class="profileMenuOptions">Vehicle Settings</h3>	
		<ul class="profileSetting">
			<li class="profileSettingOption">Vehicle Make: {{userData.make}}</li>
			<li class="profileSettingOption">Vehicle Model: {{userData.model}}</li>
			<li class="profileSettingOption">Insurance number: {{userData.insurance}}</li>
		</ul>
	<h3 class="profileMenuOptions">Reward Settings</h3>
		<ul class="profileSetting">
			<li class="profileSettingOption">Current Reward Choice: Amazon</li>
		</ul>
	</div>
</main>

{{> footer}}
